{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h2 style="padding-left: 20px;">Followers - {{ user.user_profile.followed_by.count }}</h2>
            </div>
        </div>

        <div class="columns">
            <div class="column is-8">
                <div class="collection">
                    {% for user in user.user_profile.followed_by.all %}
                        <a class="collection-item"
                           href="{% url 'user_profile' user.user.username %}">{{ user.user.username }}</a>
                    {% empty %}
                        {% if request.user == user %}
                            <a class="collection-item">No followers</a>
                        {% else %}
                            <a class="collection-item">{{ user.username }} has no followers</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}