{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="row">
                    {% if user.user_profile.avatar %}
                        <img class="circle col s6" alt="" src="{{ user.user_profile.avatar.url }}"
                             style="height: 128px; width: 148px; margin-left: 20px; margin-top: 10px">
                    {% endif %}
                    <h2 class="col s6" style="padding-left: 20px;">Settings - {{ user.username }}</h2>
                </div>
                <form method="post" enctype="multipart/form-data" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="field">
                        <div class="control">
                            <button class="waves-effect waves-light btn">Save avatar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}